/Final Project - Hungry Squirrel Game/build/
/Final Project - Hungry Squirrel Game/nbproject/private/
/Kelly_Humphrey_Project_1/target/
/Kelly_Humphrey_Project_6/build/
/Kelly_Humphrey_Project_6/nbproject/private/
/Kelly_Humphrey_Project_7/build/
/Kelly_Humphrey_Project_7/nbproject/private/
/Kelly_Humphrey_Project_8/build/
/Kelly_Humphrey_Project_8/nbproject/private/
/Kelly_Humphrey_Project_2/target/
/Kelly_Humphrey_Project_3/build/
/Kelly_Humphrey_Project_3/nbproject/private/
/Kelly_Humphrey_Project_4/build/
/Kelly_Humphrey_Project_4/nbproject/private/
/Kelly_Humphrey_Project_5/build/
/Kelly_Humphrey_Project_5/nbproject/private/
